<main>
    {{! Formulário de cadastro }}

    <div class="container">
        <div class="row ">
            <div class="col-6 offset-2">
                
                <form action="/cadastrar" method="post" enctype="multipart/form-data">
                    <h1> Formulario de Cadastro </h1>
                    <input name="nome" class= "form-control" type="text"placeholder="Nome do produto">
                    <input name="valor" class= "form-control" type="number"placeholder="Valor do produto">
                    <input name="marca" class= "form-control" type="text"placeholder="Marca do produto">
                    <select name="categoria" class= "form-control"  type="categoria"placeholder="categoria do produto">
                        <option value="varas">Varas</option>
                        <option value="carretilhas">Carretilhas</option>
                        <option value="molinetes">Molinetes</option>
                        <option value="linhas">Linhas</option>
                        <option value="anzois">Anzóis</option>
                        <option value="iscas">Iscas</option>
                        <option value="caixas">Caixas</option>
                        <option value="acessorios">Acessórios</option>
                        <option value="eletronicos">Eletrônicos</option>
                        <option value="barcos">Barcos Equipamentos</option>
                        <option value="vestuario">Vestuário</option>
                        <option value="conveniencia">Conveniência</option>
                        <option value="outros">Outros</option>
                    </select>
                    <input name="imagem" class="form-control" type="file" placeholder="imagem do produto">
                    <input class="btn btn-primary" type="submit" value="Cadastrar">
                </form>

            </div>     
        </div>
    </div>

        {{! Lista de produtos cadastrados }}
    <div class="container">
        <div class="row">
            {{#each produtos}}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <img src="../imagens/{{imagem}}">
                            <div class="textos">
                                <p>{{nome}}</p>
                                <p>R$ {{valor}}</p>
                                <p>Marca: {{marca}}</p>
                                <p>Categoria: {{categoria}}</p>
                            </div>
                            <a href="/formularioEditar/{{codigo}}" class="btn btn-warning">Alterar</a>
                            <a href="/remover/{{codigo}}&{{imagem}}" class="btn btn-danger">Remover</a>
                    </div>
                </div>
            
            {{/each}}

            
        </div>
    </div>


</main>