    <main class="container mt-4">
    <h1>{{guia.nome}}</h1>

    <div id="guiaDetalheCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
        {{#each imagensCarousel}}
        <button type="button"
                data-bs-target="#guiaDetalheCarousel"
                data-bs-slide-to="{{@index}}"
                class="{{#if @first}}active{{/if}}"
                aria-current="{{#if @first}}true{{/if}}"></button>
        {{/each}}
        </div>

        <div class="carousel-inner">
        {{#each imagensCarousel}}
        <div class="carousel-item {{#if @first}}active{{/if}}">
            <img src="/imagensGuia/{{this}}" class="d-block w-100" alt="Imagem do guia">
        </div>
        {{/each}}
        </div>

        <button class="carousel-control-prev" type="button"
                data-bs-target="#guiaDetalheCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button"
                data-bs-target="#guiaDetalheCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
        </button>
    </div>

    <div class="mt-4">
        <p class="text-base mb-2">{{guia.descricao}}</p>
        <a href="https://wa.me/{{guia.whatsapp}}" target="_blank" class="btn btn-success">
        <i class="fab fa-whatsapp"></i> Fale com o Guia
        </a>
    </div>
    </main>
