    <main class="container mt-4">
        <h1>Produtos</h1>
    <div id="produtoCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
        {{#each produtosCarousel}}
        <div class="carousel-item {{#if @first}}active{{/if}}">
            <img src="/imagens/{{this.imagem}}" class="d-block w-100" alt="{{this.nome}}">
            <div class="carousel-caption bg-dark bg-opacity-75 p-2 rounded text-white text-center">
            <h5>{{this.nome}}</h5>
            <p>Marca: {{this.marca}} --
            R$: {{this.valor}}</p>
            </div>
            
            
        </div>
        {{/each}}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#produtoCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#produtoCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
        </button>
    </div>

    <h1 class="mt-5">Guias de Pesca</h1>
    <div id="guiaCarrossel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
        {{#each guias}}
        <div class="carousel-item {{#if @first}}active{{/if}}">
            <img src="/imagens/{{this.imagem_principal}}" class="d-block w-100" alt="{{this.nome}}">
            <div class="carousel-caption bg-dark bg-opacity-75 p-2 rounded text-white text-center">

            <h5>{{this.nome}}</h5>
            <a href="/guiapesca/{{this._id}}" class="btn btn-primary btn-sm">Saiba Mais</a>
            </div>
        </div>
        {{/each}}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#guiaCarrossel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#guiaCarrossel" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
        </button>
    </div>
    </main>
