<main>

    {{! Lista de produtos cadastrados }}
    <div class="container">
        <div class="row">
            {{#each produtos}}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <img src="../imagens/{{imagem}}">
                            <div class="textos">
                                <p>{{nome}}</p>
                                <p>R$ {{valor}}</p>
                                <p>Marca: {{marca}}</p>
                                <p>Categoria: {{categoria}}</p>
                            </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>

</main>